*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
section{
    background-color: #f5f5f5;
}
/*nav + Header*/
header{
    height: 100vh;
}
.bg-color {
    background-color:#212529 ;
}
.nav-link{
    color: rgba(255,255,255,0.5);
    position: relative;
    width: fit-content;
}
.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all ease-in-out .5s;
}
.nav-link.active,
.nav-link:focus {
    color: #fff !important;
}
.nav-link:hover::before,
.nav-link:active, .nav-link:active{
    width: 40%;
}
.nav-link.active::before {
    width: 40%;
}
.nav-link:hover{
    color: rgba(255,255,255,0.75);
}
.hero{
    background-image: url('../imgs/morgan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    color: #fff;
}
.hero .hero-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.hero .hero-layer .info{
    text-align: center;
}
.hero .hero-layer .info h1 {
    font-size: 4.5rem;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") ;
}

#about{
    padding-block: 64px ;
    margin: 0 auto;
    background-color: #f5f5f5;
    .container{
        padding: 48px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.6), 0 2px 5px 0 rgb(0, 0, 0, 0.2);
        .info-wrapper{
            width: 100%;
        }
    }
}
.skills p {
    font-size: 1.2rem;
}
.about-me h1 {
    width: fit-content;
    position: relative;
}
.about-me h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 4px;
    background-color:#0D6EFD ;

}
#services, #portfolio{
    background-color:#f5f5f5 ;
}
#services .services-info ,#portfolio .portfolio-info{
    position: relative;

    h1{
        font-size: 3rem;
    }
}
#services .services-info::after,
#portfolio .portfolio-info::after{
    content: '';
    bottom: 0;
    left: 50%;
    width: 5%;
    height: 4px;
    background-color:#0D6EFD ;
}
#services .card{
    padding: 16px;
    border: none;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    h2 {
        font-weight: 500;
        padding: 0.4rem 0;
        font-size: 1.4rem;
        color: #1e1e1e;
    }
    p{
        color: #4e4e4e;
    }
    .card-img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
}
#services .card .card-img{
    border: 0.5rem solid #0078ff;
    border-radius: 50%;
    transition: all .5s ease;
    color: #1e1e1e;
    position: relative;
}
#services .card .card-img svg {
    color: #1e1e1e;
    font-size: 35px;
    width: 100%;
    position: absolute;
    left:0;
    top:32%;
}
#services .card:hover{
    .card-img svg{
        color: #fff;
    }
    .card-img{
        background-color:#0078ff ;
        border: .5rem solid #CDE1F8 ;
    }
}
.work{
   .container {
    padding-block:6.25rem ;
   }
   .service_icon{
        background-color: transparent;
        border: 0.5rem solid #fff;
        color: #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        font-size: 2.5rem;

    svg{
        font-size: 35px;
        width: 100%;
    }
   }
}
.work .wrapper {
    background-image: url("./../imgs/counters-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
}

.work .wrapper .bg-layer {
  background-color: rgba(0, 120, 255, 0.5);
  height: 100%;
}
@media screen and (max-width: 768px) {
    .hero .hero-layer .info h1  {
        font-size: 3rem;
        text-align: center;
    }
}